Source: libuap-cpp
Priority: extra
Maintainer: Sergey kablov <s.kablov@sape.ru>
Standards-Version: 3.8.4
Build-Depends: uap-core, libgtest-dev, libboost-regex-dev, libyaml-cpp0.5
Section: libs
Homepage: https://github.com/sape-ru/uap-cpp.git

Package: libuap-cpp-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: sape-libyaml-cpp0.3, sape-libyaml-cpp0.3-dev, libyaml-cpp0.3, libyaml-cpp0.3-dev, sape-libua-parser-cpp
Replaces: sape-libua-parser-cpp
Description: ua parser header and libs
